<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consultar QR</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="splash-screen" *ngIf="loading">
      <div *ngIf="loading" class="spinner"></div>
      <p *ngIf="loading" class="loading-text">Cargando...</p>
    </div> 
    <div *ngIf="userData && !asistenciaMarcada">
      <div class="container-v">
        <div class="container-qr">
          <h3>Asistencia</h3>
        </div>
        <div class="container-info-main">
          <h6>Nombres:</h6>
          <div class="container-info">
            <p class="extra-info">
              {{ userData.us_nombres + " " + userData.us_apellidos }}
            </p>
          </div>
          <h6>Zona:</h6>
          <div class="container-info">
            <p class="extra-info">{{ userData.us_zone }}</p>
          </div>
          <h6>Lugar:</h6>
          <div class="container-info">
            <p class="extra-info" *ngIf="userData.us_lugar === 'AU'">
              Auditorio
            </p>
            <p class="extra-info" *ngIf="userData.us_lugar !== 'AU'">
              Circuito Cerrado - Piso 3
            </p>
          </div>
          <h6>Fecha:</h6>
          <div class="container-info">
            <p class="extra-info">06/09/24</p>
          </div>
          <h6>Pago:</h6>
          <div class="container-icon">
            <i
              *ngIf="userData.us_pago_confirmado"
              class="bx bx-check"
              style="color: #81e059; font-size: 40px"
            ></i>
            <i
              *ngIf="!userData.us_pago_confirmado"
              class="bx bx-x"
              style="color: #fb0b06; font-size: 40px"
            ></i>
          </div>
          <button
            class="button-detail"
            type="submit"
            [disabled] = "userData.us_day1 == true"
            (click)="marcarAsistencia()"
          >
            Marcar Asistencia
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="asistenciaMarcada" class="container-asistencia">
      <h1>Asistencia Marcada</h1>
      <i class="bx bx-check" style="color: #81e059; font-size: 90px"></i>
    </div>
  </body>
</html>
