<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Conferencia Sinergia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Únete a Sinergia 2024, el evento clave para jóvenes que desean impactar el mundo. Descubre talleres de liderazgo, redes sociales y cómo compartir tu fe. Inscríbete hoy y prepárate para un fin de semana de inspiración y pasión."
    />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
  </head>
  <body>
    <!-- main container section -->
    <div class="inicio">
      <!-- navigation section -->
      <div>
        <div class="rowopacidadline">
          <div>
            <div class="row">
              <div class="row-close container-xs">
                <div class="navbar">
                  <img
                    src="/assets/img_close.png"
                    alt="Close Button"
                    class="navbar__icon--close"
                  />
                  <!-- workshops section 
                  <div class="navbar__item">
                    <h1 class="ui heading size-headingxs"></h1>
                  </div>
                  <div class="navbar__item navbar__item-1">
                    <h2 class="ui heading size-headingxs">Mi entrada</h2>
                  </div>
                  workshops section -->
                  <div class="navbar__item navbar__item-2">
                    <h2
                      class="navbar__link--inscribirse ui heading size-headingxs"
                    >
                      Inscribirse
                    </h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="opacidadlineal"></div>
          </div>
        </div>

        <!-- main content section -->
        <div class="content">
          <div class="section">
            <!-- about section -->
            <div class="section__column">
              <div class="column_six">
                <div class="section__stack">
                  <div class="section__stack__title-row container-xs">
                    <h2 class="section__stack__title ui heading size-title">
                      Acerca de la conferencia
                    </h2>
                  </div>
                  <div class="section__stack__content-column container-xs">
                    <div class="section__stack__content-row">
                      <h3 class="ui heading size-subtitle">SINERGIA</h3>
                      <p
                        class="section__stack__content-description ui text size-body_body"
                      >
                        <span>
                          ¡Bienvenido a Sinergia 2024! Este es el evento del año
                          para todos los jóvenes que quieren hacer una
                          diferencia y descubrir cómo sus talentos pueden
                          cambiar el mundo, empezando por nuestra iglesia.<br /><br />Bajo
                          el lema&nbsp;</span
                        >
                        <span class="section__stack__content-description-span">
                          ”Todos tenemos algo para dar”, te invitamos a unirte a
                          un fin de semana épico lleno de inspiración,
                          aprendizaje y, sobre todo, ¡muchísima energía y
                          pasión!</span
                        >
                      </p>
                    </div>
                    <div class="section__stack__image-row">
                      <img
                        src="/assets/img_user.svg"
                        alt="User Image"
                        class="content__video-image"
                      />
                    </div>
                  </div>
                </div>

                <!-- workshops section -->
                <div class="column_five">
                  <div class="faq-section container-xs">
                    <h4 class="content__title ui heading size-title">
                      Talleres
                    </h4>
                    <div class="section__workshops__grid">
                      <div class="leadership-workshop-description">
                        <h5 class="ui heading size-subtitle">
                          Consagrados y enviados
                        </h5>
                        <p
                          class="leadership-workshop-description__description ui text size-body_body"
                          style="font-size: 14px"
                        >
                          El anhelo de alcanzar grandes metas está en el ADN del
                          joven cristiano. Buscamos evangelizar a la juventud,
                          pero la falta de santidad puede ser un gran obstáculo.
                          Sin una vida consagrada a Dios, muchos jóvenes
                          abandonan el ministerio. Para ser usados por Dios, es
                          necesario vivir en santidad. Antes de ser enviados,
                          debemos aprender a consagrarnos. ¿Qué prácticas
                          necesitas abandonar para vivir en mayor santidad?
                        </p>
                      </div>
                      <div class="leadership-workshop-description">
                        <h6 class="ui heading size-subtitle">Sinergia</h6>
                        <p
                          class="leadership-workshop-description__description ui text size-body_body"
                          style="font-size: 14px"
                        >
                          Creamos Sinergia cuando nos unimos y colaboramos
                          juntos en nuestra iglesia local, Todos pueden aportar
                          algo único y valioso en el reino de Dios, ¿Qué es un
                          don y cómo puedes utilizarlo? ¿Cómo sacar el máximo
                          provecho de las habilidades que Dios te ha dado? ¿Cómo
                          utilizar tu profesión para bendecir a otros? Eres
                          parte de esta casa y Dios quiere usarte.
                        </p>
                      </div>
                      <div class="leadership-workshop-description">
                        <h4 class="ui heading size-subtitle">Comparte tu fe</h4>
                        <p
                          class="leadership-workshop-description__description ui text size-body_body"
                          style="font-size: 14px"
                        >
                          Para todo discípulo de Jesús, vivir su fe en una
                          sociedad no cristiana es un reto, y compartirla con
                          otros es aún más desafiante. Los jóvenes de hoy son
                          nativos digitales, con acceso a mucha información con
                          un solo clic. ¿Cómo llevarles el mensaje de Jesús?
                          ¿Cómo pueden las redes sociales ser un instrumento
                          eficaz para transmitir ese mensaje?
                        </p>
                      </div>
                      <div class="leadership-workshop-description">
                        <h4 class="ui heading size-subtitle">Liderazgo</h4>
                        <p
                          class="leadership-workshop-description__description ui text size-body_body"
                          style="font-size: 14px"
                        >
                          El liderazgo es sinónimo de influencia. Un líder
                          verdadero no solo guía, sino que inspira y motiva,
                          impactando positivamente en los demás y generando
                          cambios significativos. La verdadera influencia de un
                          líder se basa en la confianza y el respeto,
                          empoderando a otros para alcanzar su potencial y
                          convertir su visión en una fuerza de cambio.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- speakers section -->
              <div class="column_five">
                <div class="faq-section container-xs">
                  <h2 class="content__title ui heading size-title">Speakers</h2>
                  <div class="inscription__form">
                    <div class="speaker-profile">
                      <img
                        src="/assets/img_adrian.jpeg"
                        alt="Speaker Image"
                        class="speaker-profile__image"
                      />
                      <div class="speaker-profile__details">
                        <h4 class="ui heading size-subtitle" style="font-size: 22px;">
                          Rev. Adrián Quijandría
                        </h4>
                        <p class="ui text size-body_body">
                          Coordinador Ejecutivo LED
                        </p>
                      </div>
                    </div>
                    <div class="speaker-profile">
                      <img
                        src="/assets/img_kevin_new.png"
                        alt="Speaker Image"
                        class="speaker-profile__image"
                      />
                      <div class="speaker-profile__details">
                        <h4 class="ui heading size-subtitle">
                          Pr. Kevin Silva
                        </h4>
                        <p class="ui text size-body_body">
                          Pastor NG IACyM CNC
                        </p>
                      </div>
                    </div>
                    <div class="speaker-profile">
                      <img
                        src="/assets/img_kari_new.png"
                        alt="Speaker Image"
                        class="speaker-profile__image"
                      />
                      <div class="speaker-profile__details">
                        <h4 class="ui heading size-subtitle">Kari Evaristo</h4>
                        <p
                          class="ui text size-body_body"
                          style="text-align: justify"
                        >
                          Líder juvenil y conferencista
                        </p>
                      </div>
                    </div>
                    <div class="speaker-profile">
                      <img
                        src="/assets/img_paul_new.png"
                        alt="Speaker Image"
                        class="speaker-profile__image"
                      />
                      <div class="speaker-profile__details">
                        <h4 class="ui heading size-subtitle">Pr. Paul Hoyos</h4>
                        <p class="ui text size-body_body">
                          Pastor Ejecutivo IACyM CNC
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="hashtag-section">
                <img src="/assets/img_hashtag.jpeg" alt="" />
              </div>

              <div class="content__column-title">
                <h2 class="content__title ui heading size-title">
                  Video Promo
                </h2>
                <div class="content__video bg-gradient">
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/xwGHmhN85pE?si=roq8FOtD9J0ifVZA"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
              <!-- INSCRIPCIONES-->
              <div class="content__inscription">
                <div class="inscription__column container-xs">
                  <h2 class="content__title ui heading size-title">
                    Inscripciones
                  </h2>
                  <div class="inscription__form">
                    <div class="inscription__form-column">
                      <div class="inscription__form-container">
                        <h4 class="ui heading size-subtitle">Formulario</h4>
                        <div class="form__column">
                          <div class="inscription__form">
                            <div class="form__input">
                              <p class="ui text size-body_regular_3__caption_">
                                Nombres
                              </p>
                              <label
                                class="form__input-field ui input white size-xs fill round"
                              >
                                <input
                                  #firstname
                                  name="First Name Field"
                                  placeholder="Ej: Pablo"
                                  type="text"
                                />
                              </label>
                            </div>
                            <div class="form__input">
                              <p class="ui text size-body_regular_3__caption_">
                                Apellidos
                              </p>
                              <label
                                class="form__input-field ui input white size-xs fill round"
                              >
                                <input
                                  #lastname
                                  name="Last Name Field"
                                  placeholder="Ej: Huaccha"
                                  type="text"
                                />
                              </label>
                            </div>
                          </div>
                          <div class="inscription__form">
                            <div class="form__input">
                              <p class="ui text size-body_regular_3__caption_">
                                Documento de Identidad
                              </p>
                              <label
                                class="form__input-field ui input white size-xs fill round"
                              >
                                <input
                                  #dni
                                  name="Identity Field"
                                  placeholder="Ej: 78965432"
                                  type="text"
                                />
                              </label>
                            </div>
                            <div class="form__input">
                              <p class="ui text size-body_regular_3__caption_">
                                Celular
                              </p>
                              <label
                                class="form__input-field ui input white size-xs fill round"
                              >
                                <input
                                  #celular
                                  name="Phone Field"
                                  placeholder="Ej: 912345678"
                                  type="text"
                                />
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="form__select">
                          <p class="ui text size-body_regular_3__caption_">
                            Zona
                          </p>
                          <select
                            #zone
                            class="form__select-dropdown ui selectbox white size-xs fill round"
                            name="Zone Dropdown"
                          >
                            <option value="1">Zona 1</option>
                            <option value="2">Zona 2</option>
                            <option value="4">Zona 4</option>
                            <option value="5">Zona 5</option>
                            <option value="6">Zona 6</option>
                            <option value="7">Zona 7</option>
                            <option value="8">Zona 8</option>
                            <option value="9">Zona 9</option>
                            <option value="10">Zona 10</option>
                            <option value="11">Zona 11</option>
                            <option value="12">Zona 12</option>
                            <option value="13">Zona 13</option>
                            <option value="14">Zona 14</option>
                          </select>
                        </div>
                      </div>
                      <button
                        (click)="
                          onSubmit(
                            firstname.value,
                            lastname.value,
                            dni.value,
                            celular.value,
                            zone.value
                          )
                        "
                        class="inscription__button ui button size-sm"
                        [disabled]="isSubmitting"
                      >
                        Inscribirse
                      </button>
                    </div>

                    <div class="inscription__details">
                      <h4 class="ui heading size-subtitle">Detalles</h4>
                      <div class="details__list">
                        <div class="event-details">
                          <img
                            src="/assets/img_calendar.svg"
                            alt="Calendarimage"
                            class="event-details__calendar-image"
                          />
                          <div class="event-details__date-column">
                            <h6 class="ui heading size-body_bold">Fecha:</h6>
                            <p
                              class="event-details__date ui text size-body_body"
                            >
                              Viernes 6 y Sábado 7 de Setiembre, 2024
                            </p>
                          </div>
                        </div>
                        <div class="event-details">
                          <img
                            src="/assets/img_clock.svg"
                            alt="Calendarimage"
                            class="event-details__calendar-image"
                          />
                          <div class="event-details__date-column">
                            <h6 class="ui heading size-body_bold">Horarios:</h6>
                            <p
                              class="event-details__date ui text size-body_body"
                            >
                              Viernes: 7:00 PM y Sábado: 4:00 PM a 10:00 PM
                            </p>
                          </div>
                        </div>
                        <div class="event-details">
                          <img
                            src="/assets/img_forward.svg"
                            alt="Calendarimage"
                            class="event-details__calendar-image"
                          />
                          <div class="event-details__date-column">
                            <h6 class="ui heading size-body_bold">Costo:</h6>
                            <p
                              class="event-details__date ui text size-body_body"
                            >
                              S/ 8.00
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <img
                src="/assets/img_content_blue_gray_100.png"
                alt="Content Image"
                class="content__image"
              /> -->
              </div>

              <!-- social media hashtags section -->
              <!-- <div class="section__hashtags">
              <h4 class="ui heading size-subtitle">#CONFSINERGIA2024</h4>
              <h4 class="ui heading size-subtitle">#CONFSINERGIA2024</h4>
              <h4 class="ui heading size-subtitle">#CONFSINERGIA2024</h4>
              <h4 class="ui heading size-subtitle">#CONFSINERGIA2024</h4>
              <h4 class="ui heading size-subtitle">#CONFSINERGIA2024</h4>
            </div> -->
              <div class="faq-section container-xs">
                <h2 class="content__title ui heading size-title">
                  Preguntas y respuestas
                </h2>
                <div class="QYA">
                  <div class="faq-container">
                    <div class="faq-content">
                      <div class="faq-question">
                        <div class="faq-question-text">
                          ¿Cuándo y dónde se llevará a cabo la conferencia
                          Sinergia?
                        </div>
                        <div class="faq-icon">
                          <div class="faq-icon-inner"></div>
                        </div>
                      </div>
                      <div class="faq-answer">
                        Será los dias Viernes 06 (7:00pm) y Sábado 07 (4:00pm)
                        de Setiembre en nuestra Iglesia Alianza Cristiana y
                        Misionera ubicada en la Av. Tomas Valle (Frente al
                        Hospital Negreiros)
                      </div>
                    </div>
                  </div>
                  <div class="faq-container">
                    <div class="faq-content">
                      <div class="faq-question">
                        <div class="faq-question-text">
                          ¿Hay algún requisito de edad para participar en la
                          conferencia?
                        </div>
                        <div class="faq-icon">
                          <div class="faq-icon-inner"></div>
                        </div>
                      </div>
                      <div class="faq-answer">
                        No, todos los jóvenes estan invitados a nuestra
                        conferencia Sinergia, no hay restricción de edad para
                        asistir. No te lo puedes perder !!
                      </div>
                    </div>
                  </div>
                  <div class="faq-container">
                    <div class="faq-content">
                      <div class="faq-question">
                        <div class="faq-question-text">
                          ¿Qué debo llevar a la conferencia?
                        </div>
                        <div class="faq-icon">
                          <div class="faq-icon-inner"></div>
                        </div>
                      </div>
                      <div class="faq-answer">
                        Debes llevar un block de notas para apuntar lo más
                        importante de las plenarias y talleres, además no
                        olvides tu Biblia y sobre todo, ven con muchas ganas de
                        aprender!!
                      </div>
                    </div>
                  </div>
                  <div class="faq-container">
                    <div class="faq-content">
                      <div class="faq-question">
                        <div class="faq-question-text">
                          ¿Cómo puedo obtener más información sobre la
                          conferencia?
                        </div>
                        <div class="faq-icon">
                          <div class="faq-icon-inner"></div>
                        </div>
                      </div>
                      <div class="faq-answer">
                        Para obtener más información sobre la conferencia, ponte
                        en contacto con tu supervisor zonal. Él o ella podrá
                        proporcionarte todos los detalles que necesites, como el
                        programa, las actividades planificadas y cualquier otro
                        aspecto relevante
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- registration section -->
            <div class="content-1">
              <div class="container-xs"></div>
            </div>
          </div>

          <!-- faq section -->
          <div class="column_six">
            <div class="column_five"></div>

            <!-- footer section -->
            <footer class="footer">
              <div class="footer__column">
                <div class="footer__gradient"></div>
                <div class="footer-content">
                  <div class="footer__row container-xs">
                    <div class="footer__sections">
                      <img
                        src="/assets/img_close.png"
                        alt="Close Image"
                        class="footer__icon--close"
                      />
                      <a href="Inicio" target="_blank" rel="noreferrer">
                        <p class="footer__text ui text size-texts">Inicio</p>
                      </a>
                      <a
                        href="Sinergía"
                        target="_blank"
                        rel="noreferrer"
                        class="synergy-link-link"
                      >
                        <p class="footer__text ui text size-texts">Sinergía</p>
                      </a>
                      <a href="Talleres" target="_blank" rel="noreferrer">
                        <p class="footer__text ui text size-texts">Talleres</p>
                      </a>
                      <a
                        href="Speakers"
                        target="_blank"
                        rel="noreferrer"
                        class="synergy-link-link"
                      >
                        <p class="footer__text ui text size-texts">Speakers</p>
                      </a>
                      <a href="#">
                        <p class="footer__text ui text size-texts">
                          Consultar QR
                        </p>
                      </a>
                      <a
                        href="Inscripción"
                        target="_blank"
                        rel="noreferrer"
                        class="synergy-link-link"
                      >
                        <p class="footer__text ui text size-texts">
                          Inscripción
                        </p>
                      </a>
                      <a
                        href="Preguntas"
                        target="_blank"
                        rel="noreferrer"
                        class="synergy-link-link"
                      >
                        <p class="footer__text ui text size-texts">Preguntas</p>
                      </a>
                    </div>
                    <div class="footer__social-media">
                      <button
                        class="footer__icon--facebook ui button white_a700_28 size-xs fill round"
                      >
                        <img src="/assets/img_facebook.svg" />
                      </button>
                      <button
                        class="footer__icon--facebook ui button white_a700_28 size-xs fill round"
                      >
                        <img src="/assets/img_trash.svg" />
                      </button>
                      <img
                        src="/assets/img_info.svg"
                        alt="Info Image"
                        class="footer__icon--info"
                      />
                    </div>
                  </div>
                </div>
                <div class="footer__bottom">
                  <div class="footer__divider"></div>
                  <div class="footer__copyright container-xs">
                    <p class="footer__text ui text size-textxs">
                      Copyright © 2024 Nuevas Generaciones | All Rights Reserved
                    </p>
                  </div>
                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
