::ng-deep :root {
  --background: #343434;
  --black: #000000;
  --color_black_900_00: #00000000;
  --color_black_900_33: #00000033;
  --color_black_900_e5: #000000e5;
  --blue_gray_100: #d9d9d9;
  --blue_gray_500: #6678a1;
  --gray_700_33: #66666633;
  --indigo_50: #e4e8f0;
  --text: #f0f0f0;
  --white: #ffffff;
  --color_white_a700_28: #ffffff28;

  /*------Border radius variables------*/
  --radius-xs: 8px;
  --radius-sm: 12px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-xl: 100px;

  /*------Spacing variables------*/
  --space-xs: 4px;
  --space-sm: 6px;
  --space-md: 8px;
  --space-lg: 12px;
  --space-xl: 16px;
  --space-2xl: 18px;
  --space-3xl: 24px;
  --space-4xl: 44px;
  --space-5xl: 64px;
}

.inicio {
  background-color: var(--black);
}

/* Estilos para el splash screen */
#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* Fondo blanco */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegúrate de que esté por encima de todo */
}

/* Estilos para el spinner */
.spinner {
  border: 8px solid #f3f3f3; /* Gris claro */
  border-top: 8px solid #3498db; /* Azul */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

/* Animación del spinner */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Estilos para el texto de carga */
.loading-text {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #333;
}

.checkout-section {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 44px;
}

.checkout-title {
  align-self: stretch;
  text-align: center;
  color: white;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 32px;
  word-wrap: break-word;
}

.checkout-content {
  align-self: stretch;
  height: 446px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.checkout-box {
  width: 328px;
  height: 300px;
  padding: 24px;
  background: #353535;
  border-radius: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.checkout-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.inner-image {
  left: 8px;
  top: 8px;
  background: #dadcdf;
}

.qr-image {
  width: 100%;
  height: 100%;
}

.checkout-info {
  width: 328px;
  padding: 20px;
  background: #353535;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.info-title {
  align-self: stretch;
  color: white;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
}

.info-details {
  align-self: stretch;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.info-text {
  flex: 1 1 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.number {
  align-self: stretch;
  color: white;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1px;
  word-wrap: break-word;
}

.name {
  align-self: stretch;
  color: #dadcdf;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.1px;
  margin-top: 0.3rem;
  word-wrap: break-word;
}

.info-icon {
  width: 24px;
  height: 24px;
  position: relative;
}

.icon-inner {
  width: 18px;
  height: 20px;
  position: absolute;
  left: 3px;
  top: 2px;
  background: white;
}

/* ------- DETAILS & PAYMENT SECTION -------- */
.details-section {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;

  @media only screen and (max-width: 800px) {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
}

.details-card,
.payment-card {
  width: 20%;
  height: 100%;
  padding: 24px;
  background: #353535;
  border-radius: 24px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  margin-top: 1rem;

  @media only screen and (max-width: 800px) {
    width: 90%;
    height: 100%;
  }

  @media only screen and (max-width: 450px) {
    width: 85%;
    height: 100%;
  }
}

.payment-card {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
}

.details-title {
  align-self: stretch;
  color: white;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
}

.details-item {
  align-self: stretch;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.details-icon {
  width: 24px;
  height: 24px;
  position: relative;
  background: white;
}

.details-text {
  flex: 1 1 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.details-label {
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1px;
  word-wrap: break-word;
}

.details-value {
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.1px;
  word-wrap: break-word;
}

.payment-details {
  align-self: stretch;
  height: 126px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.payment-title {
  color: white;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
}

.upload-box {
  align-self: stretch;
  padding: 14px 28px;
  border-radius: 12px;
  border: 1.2px white dotted;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.upload-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  gap: 8px;
}

.upload-icon {
  width: 20px;
  height: 20px;
  position: relative;
  background: white;
  @media (max-width: 800px) {
    width: 20px;
    height: 20px;
  }
}

.upload-text {
  color: white;
  font-size: 13px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1px;
  word-wrap: break-word;
  transition: all 0.5s ease;
}

.upload-text:hover {
  font-size: 14px;
}

.file-info {
  color: #dadcdf;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.1px;
  word-wrap: break-word;
}

.submit-button {
  width: 100%; /* O ajusta según lo necesario */
  padding: 16px 24px;
  margin-top: 1rem;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: rgb(142, 76, 177);
  background: linear-gradient(
    160deg,
    rgba(142, 76, 177, 1) 10%,
    rgba(79, 46, 151, 1) 33%,
    rgba(35, 68, 149, 1) 72%,
    rgba(46, 103, 155, 1) 83%
  );
  background-size: 200% 200%;
  transition: background-position 0.6s ease;
  cursor: pointer;
}

.submit-text,
.submit-text:disabled {
  background-color: transparent !important;
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 16px;
  word-wrap: break-word;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer; /* Esto también es importante */
}

.submit-button:disabled {
  cursor: not-allowed; /* Indica que está deshabilitado */
}

.submit-button:hover {
  background-position: 100% 0;
}

/* ------- STEP 3 -------- */

.ticket-container {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 44px;
  padding: 24px;
}

.ticket-title {
  align-self: stretch;
  text-align: center;
  color: white;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 32px;
  word-wrap: break-word;
}

.ticket-content {
  align-self: stretch;
  height: 518px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.ticket-image-container {
  width: 328px;
  height: 300px;
  padding: 24px;
  background: #353535;
  border-radius: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.ticket-image {
  width: 96px;
  height: 96px;
  position: relative;
}

.image-placeholder {
  width: 80px;
  height: 80px;
  left: 8px;
  top: 8px;
  position: absolute;
  background: #dadcdf;
}

.ticket-info {
  width: 20%;
  height: 50%;
  background: #353535;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @media only screen and (max-width: 800px) {
    width: 90%;
    height: auto;
  }

  @media only screen and (max-width: 400px) {
    width: 100%;
    height: auto;
  }
}

.info-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.id {
  color: white;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1px;
  word-wrap: break-word;
  align-self: stretch;
}

.ticket-name {
  align-self: stretch;
  color: white;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
}

.ticket-details {
  align-self: stretch;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.ticket-id {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.ticket-number {
  color: white;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1px;
  word-wrap: break-word;
}

.ticket-zone {
  color: #dadcdf;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.1px;
  word-wrap: break-word;
}

.ticket-action {
  width: 328px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 24px;
}

.download-ticket {
  align-self: stretch;
  padding: 16px 24px;
  border-radius: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: rgb(142, 76, 177);
  background: linear-gradient(
    160deg,
    rgba(142, 76, 177, 1) 10%,
    rgba(79, 46, 151, 1) 33%,
    rgba(35, 68, 149, 1) 72%,
    rgba(46, 103, 155, 1) 83%
  );
  background-size: 200% 200%;
  transition: background-position 0.6s ease;
}

.download-text {
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 16px;
  word-wrap: break-word;
}

/* ------- UI CLASS -------- */
.ui.input.round {
  border-radius: var(--radius-sm);
}

.ui.input.size-xs {
  height: 48px;
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
  font-size: 13px;
}

.ui.input.fill.white {
  background-color: var(--white);
  color: var(--blue_gray_500);
}

.ui.input {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: text;
  color: var(--blue_gray_500);
  letter-spacing: 0.1px;
  font-family: Inter;
  font-size: 13px;
  background-color: var(--white);
  align-self: stretch;
  border-radius: var(--radius-sm);
  border: 1.2px solid var(--indigo_50);
}

/*------ BUTTON CSS ------*/
.ui.button.round {
  border-radius: var(--radius-xs);
}

.ui.button.size-sm {
  height: 48px;
  padding-left: 28px;
  padding-right: 28px;
  font-size: 16px;
}

.ui.button.size-xs {
  height: 36px;
  padding-left: var(--space-md);
  padding-right: var(--space-md);
}

.ui.button.fill.white_a700_28 {
  background-color: var(--color_white_a700_28);
}

.ui.button {
  text-align: center;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

/*------ TEXT CSS ------*/
.ui.text {
  color: var(--text);
  font-family: "Poppins", sans-serif;
}

/*------ CSS------*/
.ui.heading.size-body_bold {
  letter-spacing: 0.1px;
  font-size: 16px;
  font-weight: 600;
  font-style: bold;
}

.ui.heading.size-title {
  font-size: 32px;
  font-weight: 600;
  font-style: bold;
  @media only screen and (max-width: 1050px) {
    font-size: 30px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 28px;
  }
}

.ui.heading.size-subtitle {
  font-size: 24px;
  font-weight: 600;
  font-style: bold;
  @media only screen and (max-width: 1050px) {
    font-size: 22px;
  }
}

.ui.heading.size-headingxs {
  font-size: 16px;
  font-weight: 600;
  font-style: bold;
}

.ui.heading {
  color: var(--text);
  font-family: "Poppins", sans-serif;
}

/*------- NAVBAR CLASS ------*/

.row {
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-3xl);
  z-index: 1;
  background: radial-gradient(90deg, #66666633, #00000033);
  position: relative;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 550px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.row-close {
  margin-bottom: 684px;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.navbar {
  height: 68px;
  padding: 12px 20px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 24px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.navbar__item {
  display: flex;
  justify-content: center;
}

.navbar__item h1,
h2,
h3 {
  margin: 0;
}

.navbar__icon--close {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__item-1 {
  height: 100%;
  padding: 14px 24px;
  background: black;
  border-radius: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.navbar__item-2 {
  height: 100%;
  padding: 14px 24px;
  background: white;
  border-radius: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.navbar__link--inscribirse {
  color: var(--black) !important;
}

/*------- HEADING CLASS ------*/
.title-heading {
  font-size: 24px;
  font-family: "Poppings", sans-serif;
  color: white;
}

/*------- FORM CLASS ------*/
.form-container {
  margin: 1rem;
}

.form-group {
  margin: 1rem;
}

.form-group label {
  margin: 0.5rem;
}

.form-group input,
select {
  padding: 0.4rem;
  border-radius: 0.3rem;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

button {
  /*background-color: #007bff;*/
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 0.5rem;
  padding: 0.8rem;
  margin-left: 1rem;
}

.no-qr-message {
  font-size: 20px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: white;
  font-weight: 500;
}

/*------- FOOTER CLASS ------*/
.footer {
  height: 206px;
  display: flex;
  background-image: url("../../assets/img_footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  @media only screen and (max-width: 1050px) {
    height: auto;
    margin-top: 3rem;
  }
}

.footer__column {
  margin-bottom: 34px;
  gap: var(--space-3xl);
  display: flex;
  width: 100%;
  flex-direction: column;
}

.footer__gradient {
  height: 24px;
  background: linear-gradient(180deg, #000000, #00000000);
}

.footer-content {
  display: flex;
  justify-content: center;
}

.footer__row {
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer__sections {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.footer__icon--close {
  height: 44px;
  width: 44px;
  object-fit: cover;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.footer__social-media {
  gap: var(--space-xl);
  display: flex;
}

.footer__icon--info {
  height: 36px;
  width: 36px;
}

.footer__bottom {
  margin-left: 110px;
  margin-right: 110px;
  gap: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.footer__divider {
  height: 1px;
  transform: rotate(180deg);
  background-color: var(--white);
  align-self: stretch;
  width: 100%;
}

.footer__copyright {
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*------ FONT CSS ------*/
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../../assets/fonts/PoppinsSemiBold.ttf");
  font-family: "Poppins";
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../../assets/fonts/PoppinsRegular.ttf");
  font-family: "Poppins";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../../assets/fonts/InterRegular.ttf");
  font-family: "Inter";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../../assets/fonts/OutfitRegular.ttf");
  font-family: "Outfit";
  font-weight: 400;
}
