<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
  rel="stylesheet"
/>

<body>
  <div class="login-container">
    <form class="login-form">
      <h1>Admin Panel</h1>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required autocomplete="off"/>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required autocomplete="off"/>

      <button type="submit" (click)="login()">Login</button>
    </form>
  </div>
</body>
