.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Espacio entre los contenedores */
  justify-content: center;
}

.container {
  flex: 1 1 calc(50% - 1rem);
  min-width: 300px;
  background-color: white;
  border: 1px solid #c8c8c8;
  border-radius: 20px;
  padding: 1rem;
  box-sizing: border-box;
}

.pie-canvas {
  max-height: 400px;
}

.graph {
  width: 100%;
  overflow: hidden;
}

.container-full {
  background-color: white;
  border: 1px solid #c8c8c8;
  border-radius: 20px;
  flex: 1 1 100%;
  padding: 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-title {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.title {
  margin-left: 1.5rem;
  margin-top: 2rem;
  text-align: center;
}

.centered-title {
  font-size: 1.25rem;
  font-weight: 500;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

.container-full .graph {
  height: 90%;
  width: 100%;
}
