<div class="filter">
  <label for="zona">Filtrar por Zona:</label>
  <select
    [(ngModel)]="selectedCategory"
    id="zona"
    (ngModelChange)="filterByZone($event)"
  >
    <option *ngFor="let zone of zones" [value]="zone">{{ zone }}</option>
  </select>
</div>

<div>
  <table class="user-table">
    <thead>
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>DNI</th>
        <th>Zona</th>
        <th>Captura de pago</th>
        <th>Confirmación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUserData">
        <td>{{ user.us_nombres }}</td>
        <td>{{ user.us_apellidos }}</td>
        <td>{{ user.us_dni }}</td>
        <td>{{ user.us_zone }}</td>
        <td>
            <button>Ver Imagen</button>
        </td>
        <td>
            <button>Confimar Pago</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Botón "Confirmar Pago" -->
<button class="confirm-btn" onclick="openModal(this)">Confirmar Pago</button>

<!-- Pop-up / Modal -->
<div id="confirmationModal" class="modal">
  <div class="modal-content">
    <h2>¿Estás seguro de confirmar el pago?</h2>
    <div class="modal-buttons">
      <button class="confirm-yes" onclick="confirmPayment()">Sí</button>
      <button class="confirm-no" onclick="closeModal()">No</button>
    </div>
  </div>
</div>
