<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Conferencia Sinergia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Únete a Sinergia 2024, el evento clave para jóvenes que desean impactar el mundo. Descubre talleres de liderazgo, redes sociales y cómo compartir tu fe. Inscríbete hoy y prepárate para un fin de semana de inspiración y pasión."
    />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
  </head>
  <body>
    <!-- main container section -->
    <div class="inicio">
      <!-- navigation section -->
      <div>
        <div class="rowopacidadline">
          <div>
            <div class="row">
              <div class="row-close container-xs">
                <div class="navbar">
                  <img
                    src="/assets/img_close.png"
                    alt="Close Button"
                    class="navbar__icon--close"
                  />
                  <div class="navbar__item">
                    <h1 class="ui heading size-headingxs">Inicio</h1>
                  </div>
                  <div class="navbar__item navbar__item-1">
                    <h2 class="ui heading size-headingxs">Consultar QR</h2>
                  </div>
                  <div class="navbar__item navbar__item-2">
                    <h2
                      class="navbar__link--inscribirse ui heading size-headingxs"
                    >
                      Inscribirse
                    </h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="opacidadlineal"></div>
          </div>
        </div>

        <!-- main content section -->
        <div class="content">
          <div class="section">
            <!-- about section -->
            <div class="section__column">
              <div class="column_six">
                <div class="section__stack">
                  <div class="section__stack__title-row container-xs">
                    <h2 class="section__stack__title ui heading size-title">
                      Acerca de la conferencia
                    </h2>
                  </div>
                  <div class="section__stack__content-column container-xs">
                    <div class="section__stack__content-row">
                      <h3 class="ui heading size-subtitle">SINERGIA</h3>
                      <p
                        class="section__stack__content-description ui text size-body_body"
                      >
                        <span>
                          ¡Bienvenido a Sinergia 2024! Este es el evento del año
                          para todos los jóvenes que quieren hacer una
                          diferencia y descubrir cómo sus talentos pueden
                          cambiar el mundo, empezando por nuestra iglesia.<br /><br />Bajo
                          el lema&nbsp;</span
                        >
                        <span class="section__stack__content-description-span">
                          ”Todos tenemos algo para dar”, te invitamos a unirte a
                          un fin de semana épico lleno de inspiración,
                          aprendizaje y, sobre todo, ¡muchísima energía y
                          pasión!</span
                        >
                      </p>
                    </div>
                    <div class="section__stack__image-row">
                      <img
                        src="/assets/img_user.svg"
                        alt="User Image"
                        class="content__video-image"
                      />
                    </div>
                  </div>
                  <img
                    src="/assets/img_content.png"
                    alt="Content Image"
                    class="section__stack__image-large"
                  />
                </div>

                <!-- workshops section -->
                <div class="column_five">
                  <div class="faq-section container-xs">
                    <h4 class="content__title ui heading size-title">
                      Talleres
                    </h4>
                    <div class="section__workshops__grid">
                      <div class="leadership-workshop-description">
                        <h5 class="ui heading size-subtitle">Liderazgo</h5>
                        <p
                          class="leadership-workshop-description__description ui text size-body_body"
                        >
                          Aprende a liderar con propósito y pasión. Este taller
                          te equipará con herramientas esenciales para guiar a
                          otros, tomar decisiones sabias y ser un ejemplo
                          inspirador en tu grupo y en la iglesia.
                        </p>
                      </div>
                      <div class="leadership-workshop-description">
                        <h6 class="ui heading size-subtitle">Sinergia NG</h6>
                        <p
                          class="leadership-workshop-description__description ui text size-body_body"
                        >
                          Descubre cómo el trabajo en equipo puede transformar
                          tu impacto en la iglesia. Aprende a colaborar
                          efectivamente con otros ministerios, potenciando el
                          esfuerzo colectivo para alcanzar metas comunes.
                        </p>
                      </div>
                      <div class="leadership-workshop-description">
                        <h4 class="ui heading size-subtitle">Redes sociales</h4>
                        <p
                          class="leadership-workshop-description__description ui text size-body_body"
                        >
                          ¡Haz que tu fe se vuelva viral! Este taller te
                          enseñará a utilizar las redes sociales como una
                          poderosa herramienta para compartir el Evangelio,
                          conectar con otros y expandir el alcance de tu
                          ministerio.
                        </p>
                      </div>
                      <div class="leadership-workshop-description">
                        <h4 class="ui heading size-subtitle">Comparte tu fe</h4>
                        <p
                          class="leadership-workshop-description__description ui text size-body_body"
                        >
                          Pierde el miedo a hablar de Jesús. En este taller,
                          aprenderás técnicas prácticas y efectivas para
                          compartir tu fe de manera natural y significativa,
                          impactando las vidas de quienes te rodean.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- speakers section -->
              <div class="column_five">
                <div class="faq-section container-xs">
                  <h2 class="content__title ui heading size-title">Speakers</h2>
                  <div class="inscription__form">
                    <div class="speaker-profile">
                      <img
                        src="/assets/img_img.png"
                        alt="Speaker Image"
                        class="speaker-profile__image"
                      />
                      <div class="speaker-profile__details">
                        <h4 class="ui heading size-subtitle">Speaker #1</h4>
                        <p class="ui text size-body_body">Description</p>
                      </div>
                    </div>
                    <div class="speaker-profile">
                      <img
                        src="/assets/img_img_200x200.png"
                        alt="Speaker Image"
                        class="speaker-profile__image"
                      />
                      <div class="speaker-profile__details">
                        <h4 class="ui heading size-subtitle">Speaker #2</h4>
                        <p class="ui text size-body_body">Description</p>
                      </div>
                    </div>
                    <div class="speaker-profile">
                      <img
                        src="/assets/img_img_1.png"
                        alt="Speaker Image"
                        class="speaker-profile__image"
                      />
                      <div class="speaker-profile__details">
                        <h4 class="ui heading size-subtitle">Speaker #3</h4>
                        <p class="ui text size-body_body">Description</p>
                      </div>
                    </div>
                    <div class="speaker-profile">
                      <img
                        src="/assets/img_img.png"
                        alt="Speaker Image"
                        class="speaker-profile__image"
                      />
                      <div class="speaker-profile__details">
                        <h4 class="ui heading size-subtitle">Speaker #4</h4>
                        <p class="ui text size-body_body">Description</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- social media hashtags section -->
            <!-- <div class="section__hashtags">
              <h4 class="ui heading size-subtitle">#CONFSINERGIA2024</h4>
              <h4 class="ui heading size-subtitle">#CONFSINERGIA2024</h4>
              <h4 class="ui heading size-subtitle">#CONFSINERGIA2024</h4>
              <h4 class="ui heading size-subtitle">#CONFSINERGIA2024</h4>
              <h4 class="ui heading size-subtitle">#CONFSINERGIA2024</h4>
            </div> -->
          </div>

          <!-- registration section -->
          <div class="content-1">
            <div class="container-xs">
              <div class="content__column-title">
                <h2 class="content__title ui heading size-title">
                  Vídeo Promo
                </h2>
                <div class="content__video">
                  <img
                    src="/assets/img_user.svg"
                    alt="User Image"
                    class="content__video-image"
                  />
                </div>
              </div>
            </div>

            <!-- INSCRIPCIONES-->
            <div class="content__inscription">
              <div class="inscription__column container-xs">
                <h2 class="content__title ui heading size-title">
                  Inscripciones Abiertas!!
                </h2>
                <div class="inscription__form">
                  <div class="inscription__form-column">
                    <div class="inscription__form-container">
                      <h4 class="ui heading size-subtitle">Formulario</h4>
                      <div class="form__column">
                        <div class="inscription__form">
                          <div class="form__input">
                            <p class="ui text size-body_regular_3__caption_">
                              Nombres
                            </p>
                            <label
                              class="form__input-field ui input white size-xs fill round"
                            >
                              <input
                                #firstname
                                name="First Name Field"
                                placeholder="Ej: Pablo"
                                type="text"
                              />
                            </label>
                          </div>
                          <div class="form__input">
                            <p class="ui text size-body_regular_3__caption_">
                              Apellidos
                            </p>
                            <label
                              class="form__input-field ui input white size-xs fill round"
                            >
                              <input
                                #lastname
                                name="Last Name Field"
                                placeholder="Ej: Huaccha"
                                type="text"
                              />
                            </label>
                          </div>
                        </div>
                        <div class="inscription__form">
                          <div class="form__input">
                            <p class="ui text size-body_regular_3__caption_">
                              Documento de Identidad
                            </p>
                            <label
                              class="form__input-field ui input white size-xs fill round"
                            >
                              <input
                                #dni
                                name="Identity Field"
                                placeholder="Ej: 78965432"
                                type="text"
                              />
                            </label>
                          </div>
                          <div class="form__input">
                            <p class="ui text size-body_regular_3__caption_">
                              Celular
                            </p>
                            <label
                              class="form__input-field ui input white size-xs fill round"
                            >
                              <input
                                #celular
                                name="Phone Field"
                                placeholder="Ej: 912345678"
                                type="text"
                              />
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form__select">
                        <p class="ui text size-body_regular_3__caption_">
                          Zona
                        </p>
                        <select
                          #zone
                          class="form__select-dropdown ui selectbox white size-xs fill round"
                          name="Zone Dropdown"
                        >
                          <option value="1">Zona 1</option>
                          <option value="2">Zona 2</option>
                          <option value="4">Zona 4</option>
                          <option value="5">Zona 5</option>
                          <option value="6">Zona 6</option>
                          <option value="7">Zona 7</option>
                          <option value="8">Zona 8</option>
                          <option value="9">Zona 9</option>
                          <option value="10">Zona 10</option>
                          <option value="11">Zona 11</option>
                          <option value="12">Zona 12</option>
                          <option value="13">Zona 13</option>
                          <option value="14">Zona 14</option>
                        </select>
                      </div>
                    </div>
                    <button
                      (click)="
                        onSubmit(
                          firstname.value,
                          lastname.value,
                          dni.value,
                          celular.value,
                          zone.value
                        )
                      "
                      class="inscription__button ui button size-sm"
                    >
                      Inscribirse
                    </button>
                  </div>

                  <div class="inscription__details">
                    <h4 class="ui heading size-subtitle">Detalles</h4>
                    <div class="details__list">
                      <div class="event-details">
                        <img
                          src="/assets/img_calendar.svg"
                          alt="Calendarimage"
                          class="event-details__calendar-image"
                        />
                        <div class="event-details__date-column">
                          <h6 class="ui heading size-body_bold">Fecha:</h6>
                          <p class="event-details__date ui text size-body_body">
                            Viernes 6 y Sábado 7 de Setiembre, 2024
                          </p>
                        </div>
                      </div>
                      <div class="event-details">
                        <img
                          src="/assets/img_clock.svg"
                          alt="Calendarimage"
                          class="event-details__calendar-image"
                        />
                        <div class="event-details__date-column">
                          <h6 class="ui heading size-body_bold">Horarios:</h6>
                          <p class="event-details__date ui text size-body_body">
                            Viernes: 7:00 PM y Sábado: 4:00 PM
                          </p>
                        </div>
                      </div>
                      <div class="event-details">
                        <img
                          src="/assets/img_forward.svg"
                          alt="Calendarimage"
                          class="event-details__calendar-image"
                        />
                        <div class="event-details__date-column">
                          <h6 class="ui heading size-body_bold">Precio:</h6>
                          <p class="event-details__date ui text size-body_body">
                            S/ 8.00
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <img
                src="/assets/img_content_blue_gray_100.png"
                alt="Content Image"
                class="content__image"
              /> -->
            </div>
          </div>

          <!-- faq section -->
          <div class="column_six">
            <div class="column_five">
              <div class="faq-section container-xs">
                <h2 class="content__title ui heading size-title">
                  Preguntas y respuestas
                </h2>
                <div class="expandable-faq-list">
                  <details open>
                    <summary class="faq-section__item">
                      <div class="faq-section__question-row">
                        <h4
                          class="faq-section__question ui heading size-subtitle"
                          style="font-size: 22px"
                        >
                          ¿Cuándo y dónde se llevará a cabo la conferencia
                          Sinergia?
                        </h4>
                      </div>
                      <p class="faq-section__answer ui text size-body_body">
                        Description
                      </p>
                    </summary>
                    <p class="ui text">Dummy Content</p>
                  </details>
                  <details>
                    <summary class="faq-section__item">
                      <div class="faq-section__question-row">
                        <h4
                          class="faq-section__question ui heading size-subtitle"
                          style="font-size: 22px"
                        >
                          ¿Hay algún requisito de edad para participar en la
                          conferencia?
                        </h4>
                      </div>
                      <p class="faq-section__answer ui text size-body_body">
                        Description
                      </p>
                    </summary>
                    <p class="ui text">Dummy Content</p>
                  </details>
                  <details>
                    <summary class="faq-section__item">
                      <div class="faq-section__question-row">
                        <h4
                          class="faq-section__question ui heading size-subtitle"
                          style="font-size: 22px"
                        >
                          ¿Qué debo llevar a la conferencia?
                        </h4>
                      </div>
                      <p class="faq-section__answer ui text size-body_body">
                        Description
                      </p>
                    </summary>
                    <p class="ui text">Dummy Content</p>
                  </details>
                  <details>
                    <summary class="faq-section__item">
                      <div class="faq-section__question-row">
                        <h4
                          class="faq-section__question ui heading size-subtitle"
                          style="font-size: 22px"
                        >
                          ¿Cómo puedo obtener más información sobre la
                          conferencia?
                        </h4>
                      </div>
                      <p class="faq-section__answer ui text size-body_body">
                        Description
                      </p>
                    </summary>
                    <p class="ui text">Dummy Content</p>
                  </details>
                </div>
              </div>
            </div>

            <!-- footer section -->
            <footer class="footer">
              <div class="footer__column">
                <div class="footer__gradient"></div>
                <div class="footer-content">
                  <div class="footer__row container-xs">
                    <div class="footer__sections">
                      <img
                        src="/assets/img_close.png"
                        alt="Close Image"
                        class="footer__icon--close"
                      />
                      <a href="Inicio" target="_blank" rel="noreferrer">
                        <p class="footer__text ui text size-texts">Inicio</p>
                      </a>
                      <a
                        href="Sinergía"
                        target="_blank"
                        rel="noreferrer"
                        class="synergy-link-link"
                      >
                        <p class="footer__text ui text size-texts">Sinergía</p>
                      </a>
                      <a href="Talleres" target="_blank" rel="noreferrer">
                        <p class="footer__text ui text size-texts">Talleres</p>
                      </a>
                      <a
                        href="Speakers"
                        target="_blank"
                        rel="noreferrer"
                        class="synergy-link-link"
                      >
                        <p class="footer__text ui text size-texts">Speakers</p>
                      </a>
                      <a href="#">
                        <p class="footer__text ui text size-texts">
                          Consultar QR
                        </p>
                      </a>
                      <a
                        href="Inscripción"
                        target="_blank"
                        rel="noreferrer"
                        class="synergy-link-link"
                      >
                        <p class="footer__text ui text size-texts">
                          Inscripción
                        </p>
                      </a>
                      <a
                        href="Preguntas"
                        target="_blank"
                        rel="noreferrer"
                        class="synergy-link-link"
                      >
                        <p class="footer__text ui text size-texts">Preguntas</p>
                      </a>
                    </div>
                    <div class="footer__social-media">
                      <button
                        class="footer__icon--facebook ui button white_a700_28 size-xs fill round"
                      >
                        <img src="/assets/img_facebook.svg" />
                      </button>
                      <button
                        class="footer__icon--facebook ui button white_a700_28 size-xs fill round"
                      >
                        <img src="/assets/img_trash.svg" />
                      </button>
                      <img
                        src="/assets/img_info.svg"
                        alt="Info Image"
                        class="footer__icon--info"
                      />
                    </div>
                  </div>
                </div>
                <div class="footer__bottom">
                  <div class="footer__divider"></div>
                  <div class="footer__copyright container-xs">
                    <p class="footer__text ui text size-textxs">
                      Copyright © 2024 Nuevas Generaciones | All Rights Reserved
                    </p>
                  </div>
                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
